p {
    color: black;
}

/* ------------------------------------------ navigation and footer*/
nav {
    background-color: #158E81;
}

nav a {
    color: black;
}

/* .menu {
    text-align: right;
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    height: 65px;
} */

footer {
    background-color: black;
    position: relative;
    width: 100%;
    text-align: center;
    clear: both;
    height: 30px;
    color: white;
}

/* ------------------------------------------ Hello Section*/
.hello-section {
    background-color: #158E81;
    height: 80vh;
}

.wrapper {
    padding-top: 150px;
}

.mr-120 {
    margin-right: 120px;
}

.text-size {
    font-size: 4rem;
}

/* ------------------------------------------ Portifolio Section*/
.portfolio-section {
    background-color: black;
    height: 80vh;
    color: white;
}

.about-section {
    background-color: blue;
    height: 80vh;
    color: black; 
}