body {
    color: #222222;
}

.paddingTB {
    padding-top: 100px;
    padding-bottom: 150px;
}

.heading {
    font-size: 16px;
    letter-spacing: 0.063rem;
    font-weight: 400;
    line-height: 1.5;
}

.heading::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #555;
    vertical-align: top;
    margin: 11px 10px 0 15px;
}

/* ------------------------------------------ navigation */

/* Style the navbar */
.navbar {
    overflow: hidden;
    background-color: #158E81;
    z-index: 9999;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
/* Page content */
/* .content {
padding: 16px;
} */
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
position: fixed;
top: 0;
width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
padding-top: 60px;
}

/* ------------------------------------------ hello section*/
.hello-section {
    font-weight: 100;
    /* background-color: #158E81; */
    height: 100vh;
    width: 100vw;
}

.wrapper {
    padding-top: 220px;
}

.camilaWrapper {
    /* width: 100vw; */
    height: 80px;
}

.introWrapper a {
    color: #222;
    text-decoration: none;
}

.mr-120 {
    margin-right: 120px;
}

.text-size {
    font-size: 4rem;
}

/* .box { 
    position: relative;
    width: 50px;
    height: 20px;
} */

.box-underlay {
    /* width: 19%; */
    /* height: 20%;            
    position: absolute; */
    /* top: 0;
    left: 0; */
    opacity: 0.8;
    /* background-color: red;   */
}

.animate__animated.animate__slideInUp {
    --animate-duration: 2s;
}
.textIm {
    /* width: 200px; */
    z-index: 9;
    padding-left: 20px;
    /* margin-left: 5px; */
    padding-right: 0px;
    height: 80px;
    margin-right: 22px;
}

.textName {
    /* border-bottom: 4px solid #111; */
    height: 80px;
}

.border-B {
    border-top: 4px solid red;
    opacity: 0.8;
    width: 800px;
    margin-left: 82px;
}

.top-all {
    width: 100%;
    margin: 0 auto;
    /* padding-left: 400px; */
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1000;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
}

/* ------------------------------------------ portfolio section*/
.portfolio-section {
    background-color: #ffffff;
    color: black;
}

.container-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

.container-flex {
    display: flex;
    z-index: 100;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.container-text {
    position: relative;
    width: 40%;
}

.col-md-5 img {
    width: 100%;
}

.text-darkGrey {
    color: #888;
}

.role {
    background-color: #e4e2e2;
    border: 5px;
    border-radius: 25px;
    width: fit-content;
    letter-spacing: 0.063rem;
    font-weight: 300;
    margin-right: 10px;
    font-size: 12px;
}

.container--projects {
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    padding-top: 100px;
    padding-bottom: 150px;
}

.container--projects h3 {
    font-weight: 900;
}

.container--projects p {
    font-size: 16px;
    letter-spacing: .0.063r;
    line-height: 1.75;
}

.button {
    text-align: center;
    border-bottom: 3px solid #111;
    position: relative;
    transition: all .25s;
    font-weight: 700;
    width: fit-content;
    padding: 20px 0;
}

.container--projects .button {
    font-size: 15px;
    position: absolute;
    bottom: 0;
}

.hvr-sweep-up {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
}

.hvr-sweep-up:active, .hvr-sweep-up:focus, .hvr-sweep-up:hover {
    opacity: 1;
}

.hvr-sweep-up:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-up:active:before, .hvr-sweep-up:focus:before, .hvr-sweep-up:hover:before {
    -webkit-transform: scaleY(.2);
    -ms-transform: scaleY(.2);
    transform: scaleY(.2);
}

/* ------------------------------------------ about section*/
.about-section {
    background-color:#EDF0F2;
    height: 80vh;
    color: black; 
}

/* ------------------------------------------ contact section*/
.contact-section {
    background-color: grey;
    width: 100vw;
    height: 100vh;
    color: white;
    padding-top: 200px;
}

.contact-section p {
    letter-spacing: 0.063rem;
}

.contentWrapper {
    width: 100vw;
    padding: 0 9.72222222VW;
    margin: 0 auto;
}

section .innerContact {
    padding: 0 6.94444444VW;
}

.titleInfo {
    font-family: "Times new roman", serif;
    font-size: 3.000vw;
    line-height: 4.167vw;
    font-weight: 400;
    letter-spacing: 1px;
}

section .innerContact .row .col:first-child {
    width: 60%;
}

section .innerContact .row .col:last-child {
    width: 40%;
    text-align: right;
}

section .innerContact .row .col:first-child a {
    color: #D91616;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
section .innerContact .row .col:last-child .label {
    margin-top: 0.36VW;
    font-style: italic;
}

section .innerContact .row .col:last-child .socials a {
    font-size: 1.75VW;
    color: #fff;
    display: inline-block;
    margin-right: 1.38888889VW;
    -webkit-transition: color 0.3s 0s ease-out;
    -moz-transition: color 0.3s 0s ease-out;
    -o-transition: color 0.3s 0s ease-out;
    transition: color 0.3s 0s ease-out;
}

section .innerContact .smallFooter {
    /* letter-spacing: 0.063rem; */
    /* padding: 1.38888889VW 0; */
    font-style: italic;
    position: relative;
    /* content: ""; */
    height: 0.13888889VW;
    left: 50%;
    /* position: absolute; */
    top: 0;
    /* width: 0;  */
    transform: translateX(-50%);
    background: #D91616;
    /* transition: all 0.6s ease-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; */
}


section .innerContact .smallFooter:first-child {
    content: "";
    height: 0.13888889VW;
    left: 50%;
    position: absolute;
    top: 0;
    width: 0; 
    transform: translateX(-50%);
    background: #D91616;
    transition: all 0.6s ease-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}


/* ------------------------------------------ override bootstrap*/
.row {
    margin-right: 0px;
}