body {
    color: #222222;
}

.pT {
    padding-top: 100px;
}

.heading {
    font-size: 1.25rem;
    letter-spacing: 0.063rem;
    font-weight: 400;
    line-height: 1.5;
}

.heading::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #555;
    vertical-align: top;
    margin: 11px 10px 0 15px;
}

/* ----------------------------------------------------------------- navigation */

/* Style the navbar */
.navbar {
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    z-index: 9999;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
/* Page content */
/* .content {
padding: 16px;
} */
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
position: fixed;
top: 0;
width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
padding-top: 60px;
}

/* --------------------------------------------------------------- hello section*/
.hello-section {
    font-weight: 100;
    /* background-color: #158E81; */
    height: 100vh;
    width: 100vw;
}

.wrapper {
    padding-top: 300px;
    margin-bottom: 70px;
}

.camilaWrapper {
    /* width: 100vw; */
    height: 80px;
}

.introWrapper a {
    color: #222;
    text-decoration: none;
}

.mr-120 {
    margin-right: 120px;
}

.text-size {
    font-size: 4rem;
}

/* .box { 
    position: relative;
    width: 50px;
    height: 20px;
} */

.box-underlay {
    /* width: 19%; */
    /* height: 20%;            
    position: absolute; */
    /* top: 0;
    left: 0; */
    opacity: 0.8;
    /* background-color: red;   */
}

.animate__animated.animate__slideInUp {
    --animate-duration: 2s;
}
.textIm {
    /* width: 200px; */
    z-index: 9;
    padding-left: 20px;
    /* margin-left: 5px; */
    padding-right: 0px;
    height: 80px;
    margin-right: 22px;
}

.textName {
    /* border-bottom: 4px solid #111; */
    height: 80px;
}

.border-B {
    border-top: 4px solid red;
    opacity: 0.8;
    width: 800px;
    margin-left: 82px;
}

.top {
    height: 1000px;
}
.top-all {
    width: 100%;
    margin: 0 auto;
    /* padding-left: 400px; */
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1000;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1200px;
}

.skewX {
    position: relative;
    /* z-index: -100; */
    height: 340px;
    vertical-align: bottom;
    width: 100%;
    background-color: #F7F8F7;
    transform: translateY(30%) skewY(12deg);
    /* border-top: 5px solid rgb(200, 50, 50); */
    margin: 35px 0px -60px 0px;
    /* margin-bottom: -60px;
    padding-top: 0px; */
    /* overflow-x: hidden; */
}

.skewX h2 {
    display: inline-block;
    transform: skewY(-12deg);
    margin-top: 50px;
}

.bg-white {
    background-color: white;
}

/* ----------------------------------------------------------- portfolio section*/
.portfolio-section {
    background-color: #ffffff;
    color: black;
    width: 100vw;
}

.container-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

.container-flex {
    display: flex;
    z-index: 100;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.container-text {
    position: relative;
    width: 40%;
}

.col-md-5 img {
    width: 100%;
}

.text-darkGrey {
    color: #888;
}

.role {
    background-color: #e4e2e2;
    border: 5px;
    border-radius: 25px;
    width: fit-content;
    letter-spacing: 0.063rem;
    font-weight: 300;
    margin-right: 10px;
    font-size: 12px;
}

.container--projects {
    /* -webkit-transition: all .25s;
    -o-transition: all .25s; */
    transition: all .25s;
    /* padding-top: 100px; */
    padding-bottom: 200px;
}

.container--projects h3 {
    font-weight: 900;
}

.container--projects p {
    font-size: 16px;
    letter-spacing: .0.063r;
    line-height: 1.75;
}

.button {
    text-align: center;
    border-bottom: 3px solid #111;
    position: relative;
    transition: all .25s;
    font-weight: 700;
    width: fit-content;
    padding: 20px 0;
}

.container--projects .button {
    font-size: 15px;
    position: absolute;
    bottom: 0;
}

.hvr-sweep-up {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
}

.hvr-sweep-up:active, .hvr-sweep-up:focus, .hvr-sweep-up:hover {
    opacity: 1;
}

.hvr-sweep-up:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-up:active:before, .hvr-sweep-up:focus:before, .hvr-sweep-up:hover:before {
    -webkit-transform: scaleY(.2);
    -ms-transform: scaleY(.2);
    transform: scaleY(.2);
}

/* --------------------------------------------------------------- about section*/
.about-section {
    background-color:#7BBAC4;
    height: 100vh;
    width: 100vw;
    color: black; 
}

.about-wrapper {
    padding-top: 150px;
    padding-bottom: 100px;
}

.about-wrapper h3 {
    letter-spacing: 0.063rem;
    font-weight: bolder;
    line-height: 1.375;
}

.about-wrapper p {
    font-weight: lighter;
    line-height: 1.75;
}

/* .mT-80 {
    margin-top: 80px;
} */

.about-wrapper .heading:before {
    margin: 11px 10px 100px 0;
}

/* ------------------------------------------------------------- contact section*/
.contact-section {
    background-color: #390000;
    width: 100vw;
    height: 100vh;
    color: white;
    padding-top: 200px;
}

.contact-section p {
    letter-spacing: 0.063rem;
}

.contentWrapper {
    width: 100vw;
    padding: 0 9.72222222VW;
    margin: 0 auto;
}

section .innerContact {
    padding: 0 6.94444444VW;
}

.titleInfo {
    font-family: "Times new roman", serif;
    font-size: 3.000vw;
    line-height: 4.167vw;
    font-weight: 400;
    letter-spacing: 1px;
}

section .innerContact .row .col:first-child {
    width: 60%;
}

section .innerContact .row .col:last-child {
    width: 40%;
    text-align: right;
}

section .innerContact .row .col:first-child a {
    color: #D91616;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
section .innerContact .row .col:last-child .label {
    margin-top: 0.36VW;
    font-style: italic;
}

section .innerContact .row .col:last-child .socials a {
    font-size: 1.75VW;
    color: #fff;
    display: inline-block;
    margin-right: 1.38888889VW;
    -webkit-transition: color 0.3s 0s ease-out;
    -moz-transition: color 0.3s 0s ease-out;
    -o-transition: color 0.3s 0s ease-out;
    transition: color 0.3s 0s ease-out;
}

section .innerContact .smallFooter {
    /* letter-spacing: 0.063rem; */
    /* padding: 1.38888889VW 0; */
    font-style: italic;
    position: relative;
    /* content: ""; */
    height: 0.13888889VW;
    left: 50%;
    /* position: absolute; */
    top: 0;
    /* width: 0;  */
    transform: translateX(-50%);
    background: #D91616;
    /* transition: all 0.6s ease-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; */
}

section .innerContact .smallFooter:first-child {
    content: "";
    height: 0.13888889VW;
    left: 50%;
    position: absolute;
    top: 0;
    width: 0; 
    transform: translateX(-50%);
    background: #D91616;
    transition: all 0.6s ease-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/* --------------------------------------------------------------- about me page*/
.about-me {
    margin: 90px 0;
    /* height: 100vh; */
}

.camila-img {
    height: 70vh;
    background-image: url("../img/camila.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-lines {
    position: relative;
    padding: 15px;
    width: 50vw;
    margin-left: 20px;

}

.line-1 {
    right: 0;
    top: 0;
    height: 1px;
    width: 100%;
    animation-name: line-1;
    animation-delay: .4s;
}

.line-2 {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    animation-name: line-2;
    animation-delay: .4s;
}

.line-1, .line-2 {
    position: absolute;
    background: transparent;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.text-bio {
    position: relative;
    padding: 5px 20px 5px;
    width: 50vw;
    /* margin-left: 20px; */
    line-height: 1.875rem;
}

.line-3 {
    bottom: 0;
    right: 0;
    width: 1px;
    height: 100%;
    animation-name: line-3;
    animation-delay: .4s;
}

.line-4 {
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    animation-name: line-4;
    animation-delay: .4s;
}

.line-3, .line-4 {
    position: absolute;
    background: transparent;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes line-1 {
    0% {
        width: 0;
        background: rgb(200, 50, 50);
    }
    
    100% {
        width: 100%;
        background: rgb(200, 50, 50);
    }
}

@keyframes line-2 {
    0% {
        height: 0;
        background: rgb(200, 50, 50);
    }
    
    100% {
        height: 100%;
        background: rgb(200, 50, 50);
    }
}

@keyframes line-3 {
    0% {
        height: 0;
        background: rgb(200, 50, 50);
    }
    
    100% {
        height: 40%;
        background: rgb(200, 50, 50);
    }
}

@keyframes line-4 {
    0% {
        width: 0;
        background: rgb(200, 50, 50);
    }
    
    100% {
        width: 100%;
        background: rgb(200, 50, 50);
    }
}

.experience-skills-wrap {
    height: 100vh;
    background-color: #7f9298;
    margin: 100px 0;
}

.experience-wrap, .skills-wrap {
    padding: 20px 20px 20px 30px;
}

.experience-info h4 {
    line-height: 1.75;
    letter-spacing: .01em;
    font-size: 22px;
}
.experience-info p {
    line-height: 1.75;
    letter-spacing: .01em;
    /* color: #888; */
    font-size: 16px;
}

.education-wrap {
    background-color: #fff;
    width: 600px;
    min-height: 500px;
    margin: 0 auto;
    font-size: 12px;
    }

/* ---------------------------------------------------------- override bootstrap*/
.row {
    margin-right: 0px;
}



body {
margin: 0;
}



.pres-timeline {
font-family: roboto, helvetica, sans-serif;
font-size: 12px;
color: #4A4A4A;
width: 100%;
margin: 30px 0;
}
.pres-timeline > div > div {
padding: 1em 0;
box-sizing: border-box;
}
.pres-timeline .periods-container, .pres-timeline .cards-container {
overflow: hidden;
box-sizing: border-box;
position: relative;
min-height: 100px;
transition: height 0.5s ease-in-out;
background-color: #FFF;
}
.periods-container:before {
background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
left: 0;
content: "";
position: absolute;
z-index: 2;
top: 0;
height: 100%;
width: 100px;
}
.periods-container:after {
background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
right: 0;
content: "";
position: absolute;
z-index: 2;
top: 0;
height: 100%;
width: 100px;
}
.periods-container .btn-back, .periods-container .btn-next {
display: inline-block;
width: 15%;
height: 100%;
position: absolute;
cursor: pointer;
z-index: 10;
transition: 0.3s ease-in-out;
}
.periods-container .btn-back:hover, .periods-container .btn-next:hover {
background-color: rgba(0, 0, 0, 0.05);
}
.periods-container .btn-back.hide, .periods-container .btn-next.hide {
display: none;
}
.periods-container .btn-back {
left: 0;
}
.periods-container .btn-next {
right: 0;
}
.periods-container section {
width: 70%;
height: 0;
position: absolute;
margin-left: 15%;
border-bottom: 5px solid #dfe3e6;
padding: 1.5em;
box-sizing: border-box;
transition: transform 0.3s ease-in-out, opacity 0.2s ease, height 0.3s ease;
bottom: 0;
opacity: 0;
background-color: #fff;
}
.periods-container section.active {
height: auto;
opacity: 1;
transform: translateX(0);
z-index: 5;
}
.periods-container section.active .title, .periods-container section.active p {
display: block;
}
.periods-container section.prev {
height: auto;
opacity: 0.4;
transform: translateX(-100%);
z-index: 0;
}
.periods-container section.prev .year {
text-align: right;
}
.periods-container section.next {
height: auto;
opacity: 0.4;
transform: translateX(100%);
z-index: 0;
}
.periods-container section .year {
font-size: 20px;
font-weight: 400;
}
.periods-container section .title {
color: #4A4A4A;
font-size: 28px;
font-weight: 400;
display: none;
}
.periods-container section p {
display: none;
}

.timeline-container {
position: relative;
width: 100%;
height: 50px;
overflow: hidden;
}
.timeline-container:before {
background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
left: 0;
content: "";
position: absolute;
z-index: 2;
top: 0;
height: 100%;
width: 100px;
}
.timeline-container:after {
background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
right: 0;
content: "";
position: absolute;
z-index: 2;
top: 0;
height: 100%;
width: 100px;
}
.timeline-container .timeline {
position: absolute;
display: block;
height: 50px;
transition: left 0.3s ease-in-out;
}
.timeline-container .timeline ol {
display: block;
width: 100%;
height: 2px;
background-color: #dfe3e6;
list-style: none;
padding-left: 210px;
padding-right: 300px;
}
.timeline-container .timeline ol li {
display: inline-block;
padding: 5px;
margin-top: -11px;
margin-left: 80px;
border-radius: 50%;
border: 3px solid #7f9298;
background-color: #FFF;
position: relative;
cursor: pointer;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.timeline-container .timeline ol li.active {
box-shadow: none;
}
.timeline-container .timeline ol li.active:before {
content: "";
display: block;
height: 25px;
width: 1px;
position: absolute;
top: -25px;
transition: opacity 0.3s ease-in-out;
}
.timeline-container .timeline ol li.active:after {
content: "";
display: block;
height: 25px;
width: 1px;
position: absolute;
bottom: -25px;
transition: opacity 0.3s ease-in-out;
}
.timeline-container .btn-back, .timeline-container .btn-next {
display: inline-block;
position: absolute;
cursor: pointer;
margin-top: -2px;
z-index: 11;
transition: all 0.3s ease;
}
.timeline-container .btn-back.hide, .timeline-container .btn-next.hide {
display: none;
}
.timeline-container .btn-back:hover, .timeline-container .btn-next:hover {
border-color: #7f9298;
}
.timeline-container .btn-back {
left: 1em;
}
.timeline-container .btn-next {
right: 1em;
}

.cards-container:before {
background-image: linear-gradient(left, #FFF, rgba(248, 248, 248, 0));
left: 0;
content: "";
position: absolute;
z-index: 2;
top: 0;
height: 100%;
width: 100px;
}
.cards-container:after {
background-image: linear-gradient(right, #FFF, rgba(248, 248, 248, 0));
right: 0;
content: "";
position: absolute;
z-index: 2;
top: 0;
height: 100%;
width: 100px;
}
.cards-container section {
width: 70%;
position: absolute;
margin-left: 15%;
margin-bottom: 2em;
border: 1px solid #f5f7f6;
padding: 1.5em;
box-sizing: border-box;
transition: transform 0.3s ease-in-out;
top: 0;
opacity: 0;
border-radius: 8px;
background-color: #fff;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
.cards-container section.active {
height: auto;
opacity: 1;
transform: translateX(0);
z-index: 5;
}
.cards-container section.prev {
height: auto;
opacity: 0.4;
transform: translateX(-105%);
z-index: 0;
}
.cards-container section.next {
height: auto;
opacity: 0.4;
transform: translateX(105%);
z-index: 0;
}
.cards-container section .year {
text-align: center;
font-size: 16px;
margin: 0;
}
.cards-container section .title {
font-weight: 400;
}
.cards-container section img {
width: 100%;
}

/* -------------------------------------------------------------- Media Queries */
@media (max-width:767px) {
    /* about me page */
    .about-lines {
        width: unset;
    }

    .title-bio span {
        font-size: 1.25rem;
    }
}
