{% extends 'base.html' %}
{% block content %}


<div class="container-fluid about-me">
    <div class="about-lines mb-3">
        <span class="line-1" style="animation-play-state: running;"></span>
        <span class="line-2" style="animation-play-state: running;"></span>
        <h2>
            <span>Originally from Sao Paulo, Brazil.</span>
            <br>
            <span>Currently in Dublin, Ireland.</span>
        </h2>
    </div>
    
    <div class="row">
        <div class="col-sm camila-img"></div>
        <div class="col-sm">
            <div class="text-bio w-100 mb-5">
                <p class="text-justify">
                    <span>
                        Product designer & Fullstack developer fascinated by the social product space. More than 15 years experience in customer facing industry with a focus in maintaining long-term relationships with clients and co-workers.
                    </span>
                    <br> 
                    <br> 
                    <span>
                        Very patient, calm person with excellent communication and interpersonal skills. Strong Business Management experience having worked in a Salon Business environment which required a high level of attention to detail.
                    </span>
                    <br> 
                    <br> 
                    <span>
                        A vibrant and engaging personality and a drive to succeed with excellent organizational & analytical skills. I am currently a student of Full Stack Software Development at the Code Institute and Professional Diploma UX Design at UX Design Institute and expect to graduate (September 2020). During this time I updated my IT and User Experience skills. Now looking for a suitable Full Stack position that makes best use of my existing abilities and allows me to develop new skills.
                    </span> 
                </p>
                <span class="line-3" style="animation-play-state: running;"></span>
                <span class="line-4" style="animation-play-state: running;"></span>
            </div>
            
        </div>
    </div>
</div>

  
{% endblock%}

        