{% extends 'base.html' %}
{% set active_page = "about" %}

{% block content %}

<section class="about">
    <div class="container-fluid about-me">
        <div class="about-lines mb-3">
            <span class="line-1" style="animation-play-state: running;"></span>
            <span class="line-2" style="animation-play-state: running;"></span>
            <h1 class="title-bio">
                <span>About</span>
                <br>
                <span>Myself</span>
            </h1>
        </div>
        <div class="row">
            <div class="col-sm camila-img"></div>
            <div class="col-sm">
                <div class="text-bio w-100 mb-5">
                    <p class="text-justify">
                        <span>
                            Hello, I'm Camila - a Fullstack developer & Product designer hoping to further master a career in software development.
                            
                            
                        </span>
                        <br> 
                        <br> 
                        <span>
                            I worked in the Hair industry for 15+ years before I decided to pursue another passion as it's the Tech Industry which has always been part of my personal life.
                        </span>
                        <br> 
                        <br> 
                        <span>
                            With the ambition to grow and learn new skills and looking to improve, I took a gap year to upskill my professional career with my Diploma in Full Stack Software Development and Diploma in UX Design. Combining my professional hairdressing background with development has uncovered similarities as repetitive practices to achieve results, long working hours, creativity and attention to detail as quality & high standards really matter to me.
                        </span>
                        <br> 
                        <br> 
                        <span>
                            Currently, I'm looking for a Full Stack junior developer position that makes best use of my existing abilities and allows me to learn and develop new skills.
                        </span>
                        <br> 
                        <br> 
                        <span>
                            Outside of development, I'm a major dogs fan, and enjoy exploring the green outdoors. My fun fact is that I've got shortlisted twice for the LÓreal ID Artist Team.
                        </span>
                    </p>
                    <span class="line-3" style="animation-play-state: running;"></span>
                    <span class="line-4" style="animation-play-state: running;"></span>
                </div>
            </div>
        </div>
    </div>

</section>
  
<section class="timeline">
    <div class="intro">
        <div class="container-intro">
          <h1>My Education &darr;</h1>
          <h5>Scroll Down</h5>
        </div>
    </div>
    <div class="timeline-cards">
      <div class="year-card">
        <div class="shadow">
          <time>2020</time>
          <div class="code-logo mx-auto d-block"></div>
          <h5>Software Development Diploma</h5>
          <p>Code Institute</p>
        
        </div>
      </div>
      <div class="year-card">
        <div class="shadow">
            <time>2020</time>
          <div class="ux-logo mx-auto d-block"></div>
          <h5>Professional Diploma in UX Design</h5>
          <p>UX Design Institute - Glasgow Caledonian University</p>
        </div>
      </div>
      <div class="year-card">
        <div class="shadow">
          <time>2015</time>
          <div class="loreal-logo mx-auto d-block"></div>
          <h5>Colour Specialist</h5>
          <p>L'Oreal Academy Dublin</p>
        </div>
      </div>
      <div class="year-card">
        <div class="shadow">
          <time>2004</time> to <time>2008</time>
          <div class="anhembi-logo mx-auto d-block"></div>
          <h5>Graduade as ​Bsc(hons) Degree in Fashion Business</h5>
          <p>International University Anhembi Morumbi</p>
        </div>
      </div>
    </div>
</section>

<section class="experience-skills">
    <div class="container-fluid container-experience-skills">
        <div class="experience-skills-wrapper">
            <div class="row">
                <div class="col-sm experience-wrapper">
                    <h2>Experience</h2>
                    <div class="experience-info">
                        <h4 class="mt-4">Studying - ​Career Change</h4>
                        <p class="mt-1">Dedicated to IT professional Development &#8226; <i>Oct 2019 - Present</i></p>
                    </div>
                    <div class="experience-info">
                        <h4 class="mt-4">Bernie Coiffeur</h4>
                        <p class="mt-1">Salon Manager & Colour Specialist &#8226; <i>Nov 2018 - Oct 2019</i></p>
                    </div>
                    <div class="experience-info">
                        <h4 class="mt-4">Trim Hair Salon</h4>
                        <p class="mt-1">Salon Manager & Colour Specialist &#8226; <i>Mar 2012 - Nov 2018</i></p>
                    </div>
                    <div class="experience-info">
                        <h4 class="mt-4">Osklen</h4>
                        <p class="mt-1">Fashion Consultant &#8226; <i>Feb 2010 - Dec 2010</i></p>
                    </div>
                    <div class="mt-5 projects">
                        <a class="button hvr-sweep-up text-body" href="/static/pdf/Camila_Ribeiro_Resume.pdf" target="_blank">Resume</a>
                    </div>
                </div>
                <div class="col-sm skills-wrapper">
                    <h2>Skills</h2>
                    <p class="mt-2">General</p>
                    <div class="d-flex">
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">UX</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">User Research</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Usability Testing</h5>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Product Design</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Prototyping</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Wireframing</h5>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Full-Stack Dev</h5>
                        </div>
                    </div>
                    <p class="mt-5">Design</p>
                    <div class="d-flex">
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Sketch</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Invision</h5>
                        </div>
                    </div>
                    <p class="mt-5">Engineering</p>
                    <div class="d-flex">
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">HTML5/CSS3</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">JS/JQuery</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">SQL</h5>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">MongoDB</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Python</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Django</h5>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Git</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Command Line</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">JSON</h5>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Flask</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Jinja</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">AJAX</h5>
                        </div>
                        <div class="container-flex justify-content-start">
                            <h5 class="role p-2">Bootstrap</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact-section">
    <div class="contentWrapper">
      <div class="innerContact">
        <div class="row">
          <div class="col">
            <h1 class="titleInfo mb-5">
              <a class="activeMouse" href="mailto:camilarf@gmail.com" target="_blank" title="Mail to Camila Ribeiro">
                Drop me a line,
                </a>
                I'd like to hear from you!
            </h1>
          </div>
          <div class="col">
            <div class="label"> Want to know more?</div>
            <div class="socials">
              <a href="https://www.linkedin.com/in/camila-ribeiro-22688948/" title="Linkedin" target="_blank" class="activeMouse"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/Camila-Ribeiro?tab=overview&from=2020-09-01&to=2020-09-30" title="Github" target="_blank" class="activeMouse"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div> 
        <div class="smallFooter">
          <div class="left">
            ©2021 Camila Ribeiro
            <br>
            All rights reserved
          </div>
        </div>
      </div>
    </div> 
  </section>

{% endblock%}

        