{% extends 'base.html' %}
{% block content %}

<section id="index" class="smooth hello-section content">
    <div>
      <div class="container wrapper">
          <div class="ml-5">
            <div class="text-left text-size">Hello.</div>
            <div class="text-left text-size text-camila">I'm 
              <span class="text-size box font-weight-bold box-underlay animate__animated animate__slideInUp">Camila</span> 
            </div>              
          </div>
          <div class="mr-120 mt-4">
            <p class="text-right mb-0">FULLSTACK DEVELOPER</p>
            <p class="text-right">UX DESIGNER </p>
          </div>
      </div>
    </div>  
</section>

<section id="projects" class="smooth portfolio-section content">
    <div class="container-wrapper paddingTB">
      <h1 class="heading text-right text-uppercase w-100"> My Projects </h1>
      
      {% for project in portifolio %}

        <div class="container container--projects">
          <div class="row">

            {% if loop.index % 2 !=0 %}

            <div class="col-md-7">
                <h3> {{project.name }} </a></h3>
                <p class="mt-3 text-darkGrey">
                  {{ project.description }}
                </p>
                <div class="container-flex justify-content-start">
                  {% for p in project.project_role %}
                    <h5 class="role p-2">{{ p }}</h5>
                  {% endfor %}
                </div>
                <a href="/projects/{{ project.url }}">
                  <div class="button hvr-sweep-up text-body">
                    View Case Study
                  </div>
                </a>
            </div>
            <div class="col-md-5">
                <img class="img-responsive" src="{{ project.image_source }}">
            </div>

            {% else %}

            <div class="col-md-5">
                <img class="img-responsive" src="{{ project.image_source }}">
            </div>
            <div class="col-md-7">
                <h3> {{project.name }} </a></h3>
                <p class="mt-3 text-darkGrey">
                  {{ project.description }}
                </p>
                <div class="container-flex justify-content-start">
                  {% for p in project.project_role %}
                    <h5 class="role p-2">{{ p }}</h5>
                  {% endfor %}
                </div>
                <a href="/projects/{{ project.url }}">
                  <div class="button hvr-sweep-up text-body">
                    View Case Study
                  </div>
                </a>
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
</section>

<section id="about" class="smooth about-section content" id="grad">
    <div class="container">
        <h1 class="pt-5">UX Designer and Fullstack developer from Sao Paulo, Brazil.
          Currently based in Dublin, Ireland.</h1>
         <p class="mt-3">More than 15 years experience in customer facing industry with a focus in maintaining long-term relationships with clients and co-workers. Very patient, calm person with excellent communication and interpersonal skills. Strong Business Management experience having worked in a Salon Business environment which required a high level of attention to detail.
          A vibrant and engaging personality and a drive to succeed with excellent organizational & analytical skills. I am currently a student of Full Stack Software Development at the Code Institute and Professional Diploma UX Design at UX Design Institute and expect to graduate (September 2020). During this time I updated my IT and User Experience skills. Now looking for a suitable Full Stack position that makes best use of my existing abilities and allows me to develop new skills. </p> 
    </div>
</section>

<section id="contact" class="smooth mb-5 contact-section content">
    <div class="container">
        <h1 class="text-left pt-5">camilarf@gmail.com</h1>
        <p> bla bla bla </p>
    </div> 
    <div class="container mt-5 copyright">
      <h6>Copyright © Camila Ribeiro.</h6>
    </div>
    
</section>

{% endblock %}


  
