{% extends 'base.html' %}
{% block content %}

<section id="index" class="smooth hello-section">
    <div>
      <div class="container wrapper">
          <div class="ml-5">
            <div class="text-left text-size">Hello.</div>
            <div class="text-left text-size text-camila">I'm 
              <span class="text-size box font-weight-bold box-underlay animate__animated animate__slideInUp">Camila</span> 
            </div>              
          </div>
          <div class="mr-120 mt-4">
            <p class="text-right mb-0">FULLSTACK DEVELOPER</p>
            <p class="text-right">UX DESIGNER </p>
          </div>
      </div>
    </div>  
<section id="portfolio" class="smooth portfolio-section">
    <div class="container-wrapper">
      <h1 class="text-right mb-5 pt-5 "> {{ page_title }} </h1>
      <div class="container">

        {% for project in projects %}

          <div class="row p100">

            {% if loop.index % 2 !=0 %}

            <div class="col-md-7">
                <h3><a href="/projects/{{ project.url }}"> {{project.name }} </a></h3>
                <p>
                  {{ project.description }}
                </p>
            </div>
            <div class="col-md-5">
                <img class="img-responsive" src="{{ project.image_source }}">
            </div>

            {% else %}

            <div class="col-md-5">
                <img class="img-responsive" src="{{ project.image_source }}">
            </div>
            <div class="col-md-7">
                <h3><a href="/projects/{{ project.url }}"> {{project.name }} </a></h3>
                <p>
                  {{ project.description }}
                </p>
            </div>
    
            {% endif %}
          </div>

        {% endfor %}
    
      </div>
    </div>
    

</section>
<section id="about" class="smooth about-section" id="grad">
    <div class="container">
        <h1 class="pt-5">UX Designer and Fullstack developer from Sao Paulo, Brazil.
          Currently based in Dublin, Ireland.</h1>
         <p class="mt-3">More than 15 years experience in customer facing industry with a focus in maintaining long-term relationships with clients and co-workers. Very patient, calm person with excellent communication and interpersonal skills. Strong Business Management experience having worked in a Salon Business environment which required a high level of attention to detail.
          A vibrant and engaging personality and a drive to succeed with excellent organizational & analytical skills. I am currently a student of Full Stack Software Development at the Code Institute and Professional Diploma UX Design at UX Design Institute and expect to graduate (September 2020). During this time I updated my IT and User Experience skills. Now looking for a suitable Full Stack position that makes best use of my existing abilities and allows me to develop new skills. </p> 
    </div>
</section>
<section id="contact" class="smooth mb-5 contact-section">
    <div class="container">
        <h2 class="text-left pt-5">camilarf@gmail.com</h2>
        <p>fjfhfhjdhfjsdhcjkhndjskchkxhcjhhhhsdhcshhsfbsdchbjhcb hjbvjhsgbhjsdbcvjhbc hjbvcjhdbvjhbchjxb jhxbvjhsdbvjshbcjhbfhefhhjdhghruhguirhgurhghghg </p>
    </div> 
    <!-- <form id="#" class="container" onsubmit="return sendMail(this);" autocomplete="off" >
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" class="form-control" id="fullname" placeholder="Full Name" required>
        <div id="feedback_fullname" class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-group">
        <label for="emailaddress">Email address</label>
        <input type="email" class="form-control" id="emailaddress" aria-describedby="emailHelp" placeholder="Enter email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div id="feedback_email" class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-group">
          <label for="textarea">How can we help you?</label>
          <textarea class="form-control" id="textarea" placeholder="Message" rows="3"></textarea>
          <div id="feedback_text" class="valid-feedback">
            Looks good!
          </div>
          <div class="mt-3">
            <div id="alert_success" class="alert alert-success d-none" role="alert">
              Your message was sent successfully. Thanks.
            </div>
            <div id="alert_danger" class="alert alert-danger d-none" role="alert">
              An error occurred, please try again later.
            </div>
          </div>
      </div>
      <button type="submit" class="btn btn-warning">Submit</button>
    </form> -->
</section>
{% endblock %}


  
