{% extends 'base.html' %}

{% block content %}

<section id="index" class="hello-section">
  <div class="top">
    <div class="container wrapper">
      <div class="introWrapper">
        <div>
          <div class="top-all">
            <div class="fullscreen-bg">
              <div class="responsive-img"></div>
              <video loop="" muted="" autoplay="" poster="static/img/plain.jpg" class="fullscreen-bg__video">
                <source src="static/videos/birds_Animation.mp4" type="video/mp4">
              </video>
            </div>
          </div>
          <div class="text-left text-size">Hello.</div>
          <div class="row camila-wrapper">
            <div class="col-1 text-left text-size text-Im">I'm</div>
            <div class="col-10 text-size box font-weight-bold">
              <div>
                <h2 class="animate__animated animate__slideInUp">
                  <a href="https://www.linkedin.com/in/camila-ribeiro-22688948/" target="_blank" title="Linkedin - Camila Ribeiro" class="activeMouse">
                    <span class="name-c">Camila Ribeiro</span>
                  </a>
                </h2>
              </div>
              <div class="border-B">
                <p class="text-right mb-0">FULLSTACK DEVELOPER</p>
                <p class="text-right">UX DESIGNER </p>
              </div>
            </div> 
          </div>            
        </div>
      </div>
    </div>
  </div>  
</section>
<div class="skewX" id="projects">
  <div class="background-skew">
    <h2 class="heading text-left text-uppercase w-100"> My Projects </h2>
  </div>
</div>
<section  class="portfolio-section">
  <div class="container-wrapper pT">
    {{ request.endpoint == 'projects' }}
    {% for project in my_projects %}

      <div class="container container--projects">
        
        {% if loop.index % 2 !=0 %}
          <div class="row mob-reverse">
            <div class="col-md-5 projects">
              <h3> {{project.name }} </a></h3>
              <p class="mt-4 text-darkGrey">
                {{ project.description }}
              </p>
              <div class="container-flex justify-content-start">
                {% for p in project.project_role %}
                  <h5 class="role p-2">{{ p }}</h5>
                {% endfor %}
              </div>
              <div class="mT-80">
                <a href="/projects/{{ project.url }}">
                  <div class="button hvr-sweep-up text-body">
                    View Case Study
                  </div>
                </a>
              </div> 
            </div>  
            <div class="col-md-7">
                <img class="img-responsive" src="{{ project.image_index }}">
            </div>
          </div>
        {% else %}
          <div class="row">
            <div class="col-md-7">
              <img class="img-responsive" src="{{ project.image_index }}">
            </div>
            <div class="col-md-5 projects">
              <h3> {{project.name }} </a></h3>
              <p class="mt-4 text-darkGrey">
                {{ project.description }}
              </p>
              <div class="container-flex justify-content-start">
                {% for p in project.project_role %}
                  <h5 class="role p-2">{{ p }}</h5>
                {% endfor %}
              </div>
              <div class="mT-80">
                <a href="/projects/{{ project.url }}">
                  <div class="button hvr-sweep-up text-body">
                    View Case Study
                  </div>
                </a>
              </div>
            </div>  
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>

<section id="about" class="about-section">
  <div class="container about-wrapper">
    <h2 class="heading text-left text-uppercase w-100"> ABOUT ME </h2>
    <h3 class="mt-2">UX Designer and Fullstack developer from Sao Paulo, Brazil.
      Currently based in Dublin, Ireland.</h3>
    <p class="mt-5">
      <span> More than 15 years experience in customer facing industry with a focus in maintaining long-term relationships with clients and co-workers. Very patient, calm person with excellent communication and interpersonal skills. Strong Business Management experience having worked in a Salon Business environment which required a high level of attention to detail.</span>
      <br>
      <br>
      <span> A vibrant and engaging personality and a drive to succeed with excellent organizational & analytical skills. I am currently a student of Full Stack Software Development at the Code Institute and Professional Diploma UX Design at UX Design Institute and expect to graduate (September 2020). During this time I updated my IT and User Experience skills. Now looking for a suitable Full Stack position that makes best use of my existing abilities and allows me to develop new skills.</span> 
      <br>
      <br>
      <span> Read more about me <a href="{{ url_for('about') }}"> here. </a></span>
    </p>
  </div>
</section>

<section id="contact" class="contact-section">
  <div class="contentWrapper">
    <div class="innerContact">
      <div class="row">
        <div class="col">
          <h1 class="titleInfo">
            <a class="activeMouse" href="mailto:camilarf@gmail.com" target="_blank" title="Mail to Camila Ribeiro">
              Drop me a line,
              </a>
              I'd like to hear from you!
          </h1>
        </div>
        <div class="col">
          <div class="label"> Want to know more?</div>
          <div class="socials">
            <a href="https://www.linkedin.com/in/camila-ribeiro-22688948/" title="Linkedin" target="_blank" class="activeMouse"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/Camila-Ribeiro?tab=overview&from=2020-09-01&to=2020-09-30" title="Github" target="_blank" class="activeMouse"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div> 
      <div class="smallFooter">
        <div class="left">
          ©2021 Camila Ribeiro
          <br>
          All rights reserved
        </div>
      </div>
    </div>
  </div> 
</section>

{% endblock %}